.main-content {
	padding: 8px;
	font-size: 125%;
}
.constrained-container {
	width: 100%;
}
.navbar {
	border-radius: 0;
}
.section-header {
	color: #555;
	padding: 4px 8px;
	border: #ccc solid 1px;
	border-bottom: #aaa solid 1px;
	border-left: #bbb solid 1px;
	background-color: #d9e2e9;
	border-radius: 4px;
	box-shadow: 1px 4px 4px rgba(0,0,0,0.1);
	text-shadow: 0 1px 1px #fff;
	margin-right: 1px;
}
.section-content {
	padding: 8px;
	padding-left: 16px;
	padding-bottom: 16px;
	min-height: 64px;
}
.min-height {
	min-height: 64px;
	min-width: 128px;
}
.song-section {
	margin: 8px 4px;
	padding: 4px;
	opacity: .7;
	border: 1px solid rgba(0,0,0,0.25);
	background-color: #ccc;
	border-radius: 4px;
	width: 98px;
	height: 64px;
	cursor: pointer;
-webkit-transition: background-color 0.2s, color 0.2s;
transition: background-color 0.2s, color 0.2s;
}
.place-holder {
	width: 16px;
	background-color: #00f;
	float: true;
}
.song-section-detail {
	border: 1px solid rgba(0,0,0,0.25);
	background-color: #ccc;
	border-radius: 4px;
	padding: 0 4px;
}
.song-section-detail-item {
	margin: 4px 0;
	border: 1px solid rgba(0,0,0,0.25);
	padding: 0;
	background-color: #ccc;
	border-radius: 4px;
	min-width: 80px;
	height: 100px;
}
.song-section-detail-item-bar-start {
	border-left: 2px solid rgba(0,0,0,0.5);
}
.song-section-detail-item-bar-end {
	border-right: 2px solid rgba(0,0,0,0.5);
}
.hilight {
	box-shadow: 0 0 6px #6bf;
}
.green {
	background-color: #8c8;
}
.blue {
	background-color: #89c;
}
.red {
	background-color: #c88;
}
.cyan {
	background-color: #8cc;
}
.orange {
	background-color: #ca8;
}
.white {
	background-color: rgba(255,255,255,0.6);
}
.white:hover {
	border-color: rgba(0,0,0,0.5);
	border-top-color: rgba(0,0,0,0.35);
	background-color: rgba(255,255,255,0.8);
}
.song-section:hover {
	opacity: 1;
}
.unselectable {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */ 
}
.song-section-title {
	text-align: center;
	font-size: 75%;
}
.song-section-add-new {
	padding-top: 8px;
	text-align: center;
	font-size: 125%;
}
.button {
	cursor: pointer;
	color: #777;
	font-size: 1.4em;
	text-shadow: 0 1px 1px #fff;
}
.button:hover {
	color: #444;
	text-shadow: 0 0 3px #fff, 0 0 6px #8bf;
}
.button-active {
	color: #fff;
	text-shadow: 0 0 2px #222, 0 0 3px #8bf;
}
.button-active:hover {
	color: #fff;
	text-shadow: 0 0 3px #000, 0 0 7px #8bf;
}
.ghost {
	background-color: #eee;
	border-color: #ddd;
	color: #ddd;
}
.skinny {
	box-sizing: border-box;
	display: block;
	float: left;
	margin: 8px 4px;
	border: 2px dotted #aaa;
	background-color: #eee;
	border-radius: 4px;
	padding: 4px;
	width: 14px;
	height: 64px;
}
.Mobile {
	position: fixed;
	overflow: hidden;
}

.not-text {
	cursor: default;
}

.edit-text {
	cursor: text;
}

.editable-label-text {
	margin: -2px;
	padding-top: 0;
	padding-bottom: 0;
}

.edit-text:hover {
	border: 1px dotted rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.25);
	border-radius: 8px;
	margin: -1px;
	cursor:
}

#MobileStart {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 90000;
  top: 0px;
  left: 0px;
  background-color: rgba(200, 240, 255, 0.8);
  overflow-y: hidden;
}
  #MobileStart #Button {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #567;
    color: white;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.5);
    margin-top: -40px;
    margin-left: -90px;
    width: 180px;
    height: 80px;
    text-align: center;
    line-height: 75px; 
    font-weight: 800;
    font-size: 125%;
    box-shadow: 0 6px 8px rgba(0,0,0,0.5);
    text-shadow: 0 1px 2px #000;
}
  #MobileStart #Button:hover {
    background-color: #48A;
    color: white; 
}
  #MobileStart #Button:hover:active {
    background-color: #479;
    color: #fff; 
}		
